[submodule "example/src/packages/@devlander/package-json-helper"]
	path = example/src/packages/@devlander/package-json-helper
	url = https://github.com/Devlander-Software/package-json-helper
[submodule "example/src/packages/@devlander/hooks"]
	path = example/src/packages/@devlander/hooks
	url = https://github.com/Devlander-Software/hooks
